@model IEnumerable<BookServiceModel>

<div class="row">
   @foreach (var book in Model){
     <div class="col-md-4">
         <div class="card">
             <img src="@book.ImageUrl" class="card-img-top" alt="@book.BookTitle - @book.Author">
             <div class="card-body text-center">
                   <h5 class="card-title text-left">--------------------------------------</h5> 
                   <h5 class="card-title text-left">TITLE:   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- @book.BookTitle</h5>   
                   <h5 class="card-title text-left">AUTHOR:  &nbsp;&nbsp;- @book.Author</h5>  
                   <h5 class="card-title text-left">GENRE:   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- @book.GenreName</h5>     
                   <h5 class="card-title text-left">RATING:  &nbsp;&nbsp;&nbsp;&nbsp;- @book.Rating</h5>    
                   <h5 class="card-title text-left">--------------------------------------</h5> 
                   
                   
                   
                   
                   <a asp-controller="Books" asp-action="Information" asp-route-id="@book.Id" asp-route-information="@book.GetInformation()" class="btn btn-primary" asp-route-information="all" >View</a>              
                  @if (ViewBag.AllowBookEdit == true || User.IsAdmin())
                 {
                   <a asp-controller="Books" asp-action="Edit" asp-route-id="@book.Id" class="btn btn-warning">Edit</a>
                   <a asp-controller="Books" asp-action="Delete" asp-route-id="@book.Id" class="btn btn-danger">Delete</a>                     
                 }
             </div>
         </div>
     </div>
}
</div> 