@model AllBooksQueryModel

@{
    ViewBag.Title = "All Books";    
}

<form method="get">


    <div class="row">

        <div class="form-group col-md-4">            
                <label asp-for="SearchTerm"></label>
                <input asp-for="SearchTerm" class="form-control" placeholder="Text ....">                   
        </div> 

        <div class="form-group col-md-4">  
              <div class="form-group">
                   <label asp-for="Author"></label>
                   <select asp-for="Author" class="form-control">
                           <option value="">All</option>
                           @foreach (var author in Model.Authors)
                           {
                               <option value="@author">@author</option>
                           }
                   </select>                   
              </div>
        </div> 
                
        
         <div class="form-group col-md-4">    
               <div class="form-group">
                   <label asp-for="Sorting"></label>    
                   <select asp-for="Sorting" class="form-control">
                           <option value="0" selected>Rating</option>
                           <option value="1">Author</option>                          
                           
                   </select>                   
              </div>
        </div>
    </div>     
    
    <input class="btn btn-outline-success col-md-12" type="submit" value="Start Searching" />
</form>

<div class="mb-5"></div>

@if (!Model.Books.Any())
{
    <h2 class="text-center">No books found</h2>
}


@{
    var previousPage = Model.CurrentPage - 1;
    if (previousPage < 1)
    {
        previousPage = 1;
    }

    var maxPage = Math.Ceiling((double)Model.TotalBooks / AllBooksQueryModel.BooksPerPage);
}

<div class="row mb-5">
    <div class="col-md-6">
        <a class="btn btn-success @(Model.CurrentPage == 1 ? "disabled" : string.Empty)"
           asp-controller="Books" 
           asp-action="All" 
           asp-route-currentPage="@previousPage"
           asp-route-author="@Model.Author"
           asp-route-searchTerm="@Model.SearchTerm"
           asp-route-sorting="@((int)Model.Sorting)"><<</a>
    </div>
     <div class="col-md-6">
        <a 
           class="btn btn-success float-right @(Model.CurrentPage == maxPage ? "disabled" : string.Empty)" 
           asp-controller="Books" 
           asp-action="All"           
           asp-route-currentPage="@(Model.CurrentPage + 1)"
           asp-route-author="@Model.Author"
           asp-route-searchTerm="@Model.SearchTerm"
           asp-route-sorting="@((int)Model.Sorting)">>></a>
    </div>
</div>




<partial name="_BooksPArtial" model="@Model.Books" />