@model AllBooksQueryModel


<form method="get">
    <div class="row mb-5">
        <div class="form-group col-md-4">  
              <div class="form-group">
                   <label asp-for="Author"></label>
                   <select asp-for="Author" class="form-control">
                           <option value="">All</option>
                           @foreach (var author in Model.Authors)
                           {
                               <option value="@author">@author</option>
                           }
                   </select>                   
              </div>
        </div>  
        <div class="form-group col-md-4">            
                <label asp-for="SearchTerm"></label>
                <input asp-for="SearchTerm" class="form-control" placeholder="Some thing ....">           
        </div>                 
         <div class="form-group col-md-3">    
               <div class="form-group">
                   <label asp-for="Sorting"></label>
                   <select asp-for="Sorting" class="form-control">
                           <option value="0" selected>Rating</option>
                           <option value="1" selected>Author</option>                          
                           
                   </select>                   
              </div>
         </div>          
     </div>      
</form>



<div class="row">
   @foreach (var book in Model.Books){
     <div class="col-md-2">
         <div class="card">
             <img src="@book.ImageUrl" class="card-img-top" alt="@book.BookTitle - @book.Author">
             <div class="card-body text-center">
                   <h5 class="card-title text-center">@book.BookTitle - @book.Author - @book.Genre - @book.PublishingHouse - @book.Rating</h5>                  
                   <a asp-controller="Books" asp-action="Details" asp-route-id="@book.Id" class="btn btn-primary">View More</a>
             </div>
         </div>
     </div>
}
</div>

